USE [master]
GO
/****** Object:  Database [db_ShootingRange]    Script Date: 15.09.2025 16:53:05 ******/
CREATE DATABASE [db_ShootingRange]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_ShootingRange', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_ShootingRange.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_ShootingRange_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_ShootingRange_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_ShootingRange].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_ShootingRange]
GO
/****** Object:  User [user]    Script Date: 15.09.2025 16:53:06 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 15.09.2025 16:53:06 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[tbl_Ammo]    Script Date: 15.09.2025 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Ammo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[stock] [int] NULL,
 CONSTRAINT [PK_tbl_Ammo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Business]    Script Date: 15.09.2025 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Business](
	[id] [nvarchar](11) NOT NULL,
	[taxOffice] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[mail] [nvarchar](100) NULL,
	[phone] [nvarchar](15) NULL,
	[city] [nvarchar](50) NULL,
	[district] [nvarchar](50) NULL,
	[address] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_Business] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_BuyAmmo]    Script Date: 15.09.2025 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BuyAmmo](
	[id] [nvarchar](50) NOT NULL,
	[business] [nvarchar](11) NULL,
	[kdv] [float] NULL,
	[price] [float] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_tbl_BuyAmmo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_BuyAmmoInfo]    Script Date: 15.09.2025 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BuyAmmoInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice] [nvarchar](50) NULL,
	[ammo] [int] NULL,
	[brand] [nvarchar](50) NULL,
	[count] [int] NULL,
 CONSTRAINT [PK_tbl_BuyAmmoInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Costumer]    Script Date: 15.09.2025 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Costumer](
	[id] [char](11) NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[birthdate] [date] NULL,
	[phone] [nvarchar](15) NULL,
	[mail] [nvarchar](100) NULL,
	[address] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_Costumer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 15.09.2025 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[id] [char](11) NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[admin] [bit] NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[phone] [nvarchar](15) NULL,
	[mail] [nvarchar](100) NULL,
	[address] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Shooting]    Script Date: 15.09.2025 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Shooting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[costumer] [char](11) NULL,
	[employee] [char](11) NULL,
	[weapon] [nvarchar](50) NULL,
	[ammo] [int] NULL,
	[count] [int] NULL,
	[price] [float] NULL,
	[date] [datetime] NULL,
	[userInfo] [bit] NULL,
	[userSignature] [bit] NULL,
	[study] [bit] NULL,
 CONSTRAINT [PK_tbk_Shooting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Weapons]    Script Date: 15.09.2025 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Weapons](
	[id] [nvarchar](50) NOT NULL,
	[brand] [nvarchar](50) NULL,
	[model] [nvarchar](50) NULL,
	[calibre] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[comment] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_Weapons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_BuyAmmo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_BuyAmmo_tbl_Business] FOREIGN KEY([business])
REFERENCES [dbo].[tbl_Business] ([id])
GO
ALTER TABLE [dbo].[tbl_BuyAmmo] CHECK CONSTRAINT [FK_tbl_BuyAmmo_tbl_Business]
GO
ALTER TABLE [dbo].[tbl_BuyAmmoInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_BuyAmmoInfo_tbl_Ammo] FOREIGN KEY([ammo])
REFERENCES [dbo].[tbl_Ammo] ([id])
GO
ALTER TABLE [dbo].[tbl_BuyAmmoInfo] CHECK CONSTRAINT [FK_tbl_BuyAmmoInfo_tbl_Ammo]
GO
ALTER TABLE [dbo].[tbl_BuyAmmoInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_BuyAmmoInfo_tbl_BuyAmmo] FOREIGN KEY([invoice])
REFERENCES [dbo].[tbl_BuyAmmo] ([id])
GO
ALTER TABLE [dbo].[tbl_BuyAmmoInfo] CHECK CONSTRAINT [FK_tbl_BuyAmmoInfo_tbl_BuyAmmo]
GO
ALTER TABLE [dbo].[tbl_Shooting]  WITH CHECK ADD  CONSTRAINT [FK_tbk_Shooting_tbl_Ammo] FOREIGN KEY([ammo])
REFERENCES [dbo].[tbl_Ammo] ([id])
GO
ALTER TABLE [dbo].[tbl_Shooting] CHECK CONSTRAINT [FK_tbk_Shooting_tbl_Ammo]
GO
ALTER TABLE [dbo].[tbl_Shooting]  WITH CHECK ADD  CONSTRAINT [FK_tbk_Shooting_tbl_Costumer] FOREIGN KEY([costumer])
REFERENCES [dbo].[tbl_Costumer] ([id])
GO
ALTER TABLE [dbo].[tbl_Shooting] CHECK CONSTRAINT [FK_tbk_Shooting_tbl_Costumer]
GO
ALTER TABLE [dbo].[tbl_Shooting]  WITH CHECK ADD  CONSTRAINT [FK_tbk_Shooting_tbl_Employee] FOREIGN KEY([employee])
REFERENCES [dbo].[tbl_Employee] ([id])
GO
ALTER TABLE [dbo].[tbl_Shooting] CHECK CONSTRAINT [FK_tbk_Shooting_tbl_Employee]
GO
ALTER TABLE [dbo].[tbl_Shooting]  WITH CHECK ADD  CONSTRAINT [FK_tbk_Shooting_tbl_Weapons] FOREIGN KEY([weapon])
REFERENCES [dbo].[tbl_Weapons] ([id])
GO
ALTER TABLE [dbo].[tbl_Shooting] CHECK CONSTRAINT [FK_tbk_Shooting_tbl_Weapons]
GO
USE [master]
GO
